<!DOCTYPE html>
<html>
<head>
    {# Load the tag library #}
    {% load bootstrap5 %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <style>
        {% block css %}
        {% endblock css %}
    </style>
    <meta charset="UTF-8">
</head>
<body style="
background-color: #00BFA5;
height: 100vh;
">
<div class="container pos-f-t">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
        <div class="container-fluid ">
            <a class="navbar-brand text-light" href="/"><h1>CSG</h1></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="/games">Game</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/scoreboard">Scorebroad</a>
                    </li>
                </ul>


                <ul class="d-flex navbar-nav mb-2 mb-lg-0">
                    {% if user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link text-light" aria-current="page" href="/users">Users</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link text-light" aria-current="page" href="/notification">Notification</a>
                    </li>

                </ul>

                {% if user.is_authenticated %}

                    <ul class="d-flex navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active text-light" href="/profile">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/logout">Logout</a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="d-flex navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active text-light" aria-current="page" href="/register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-light" href="/login">Login</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
</div>
<div class="container pos-f-t">
    {% block check %}
    {% endblock check %}
    {% block main %}
    {% endblock main %}
    {% block content %}
    {% endblock content %}
</div>
</body>
<script>
    //auto remove info message
    var info_messages = document.getElementsByClassName('alert-info');
    setTimeout(function () {
        for (var i = 0; i < info_messages.length; i++) {
            // Set display attribute as !important, neccessary when using bootstrap
            info_messages[i].setAttribute('style', 'display:none !important');
        }
    }, 3000);
    {% block script %}
    {% endblock script %}
</script>
<html>
