{% extends 'html/base.html' %}

{% block title %}
    <title>Game</title>
{% endblock title %}
{% block css %}
    .label {
    width:100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
{% endblock css %}
{% block main %}
    {% load crispy_forms_tags %}
    <a href="/games/">Back</a>
    <form action="/creategame/" method="POST">
        {% csrf_token %}
        {{ game_form|crispy|linebreaks }}
        <input type="submit" value="Create Game"></form>

    </form>

{% endblock main %}