{% extends 'html/base.html' %}

{% block title %}
    <title>Home</title>
{% endblock title %}


{% block check %}
    <p>Welcome, {{ user.username }}</p>
{% endblock check %}

{% block main %}


    {#    {% if user.is_superuser %}#}
    <div class="most-popular">
        <button id="match" onclick="match()">Create Match</button>

        <form id="match_form" method="POST" action="/api/createMatch/" class="text-light">
            {% csrf_token %}
            <label>
                ID game
            </label>
            <input type="number" required name="id">
            <label>
                IP
            </label>
            <input type="text" required name="ip">
            <label>
                Port
            </label>
            <input type="number" required name="port">
            <br><br>
            <label>
                ID user1
            </label>
            <input type="number" required name="uid1">
            <label>
                ID user2
            </label>
            <input type="number" required name="uid2">
            <label>
                Key
            </label>
            <input type="password" name="keymath" id="passwd">
            <input type="checkbox" onclick="hidePasswd()">Show Password
            <br>
            <br>
            <input style="margin: auto" type="submit" name="submit" value="submit">
        </form>
    </div>
    {#    {% endif %}#}
    <div class="most-popular">
        <div class="col-lg-12">
            <div class="row">
                <div class="heading-section">
                    <h4><em>Match</em> Right Now</h4>
                </div>
                {% for match in matchs %}
                    {% for x in match %}
                        <div class="col-lg-3 col-sm-6">
                            <div class="item">
                                <h5>Match ID: {{ x.gameID  }}</h5>
                                <h4>{{ x.gameName }}<br><span>{{ x.status }}</span></h4>

                                <ul>
                                    <li><i class="fa ">UID&nbsp;1:&nbsp;</i>{{ x.score1 }}</li>
                                    <li><i class="fa ">UID&nbsp;2:&nbsp;</i>{{ x.score2 }}</li>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock main %}
{% block script %}
    function match()
    {
    if(document.getElementById("match_form").style.display=="none")
    document.getElementById("match_form").style.display="block";
    else
    document.getElementById("match_form").style.display="none"
    }
    function hidePasswd() {
    var x = document.getElementById("passwd");
    if (x.type === "password") {
    x.type = "text";
    } else {
    x.type = "password";
    }
    }
{% endblock script %}
