{% extends 'html/base.html' %}

{% block title %}
    <title>Home</title>
{% endblock title %}


{% block check %}
    <p>Welcome, {{ user.username }}</p>
{% endblock check %}

{% block main %}

    <form method="POST" action="/api/createMatch/">
        {{ form }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    <br>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">uid1</th>
            <th scope="col">uid2</th>
            <th scope="col">status</th>
        </tr>
        </thead>
      {% for match in matchs %}
            <tr>
              <td>
                    {{ match.gameID }}
                </td>
                <td>
                    {{ match.uID1 }}
                </td>
                <td>
                    {{ match.uID2 }}
                </td>
                <td>
                    {{ match.status }}
                </td>
            </tr>
      {% endfor %}
    </table>
{% endblock main %}
{% block script %}
    function myFunction() {
    var x = document.getElementById("myInput");
    if (x.type === "password") {
    x.type = "text";
    } else {
    x.type = "password";
    }
    }
{% endblock script %}