{% extends 'html/base.html' %}

{% block title %}
    <title>Users</title>
{% endblock title %}
{% block main %}
    {% if not user.is_superuser %}
    <p>you don't have permission to access</p>
    {% else %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Email</th>
            <th scope="col">Username</th>
            <th scope="col">Active</th>
            <th scope="col">Admin</th>
        </tr>
        </thead>
        {% for user in users %}
            <tr>
              <td>
                    {{ user.id }}
                </td>
                <td>
                    {{ user.email }}
                </td>
                <td>
                    {{ user.username }}
                </td>
                <td>
                    {{ user.is_active }}
                </td>
                <td>
                    {{ user.is_superuser }}
                </td>
            </tr>
        {% endfor %}

    </table>
    {% endif %}
{% endblock main %}